/* header */
body{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color:#777c86;
}
.wrapper-full{
	width:100%;
}
.wrapper{
	width:90%;
	margin:0 auto;
}
.header-bg{
	background: transparent url(img/header-bg.png) right no-repeat;
	min-height: 1100px;
}
header.top_header .wrapper{
    display: flex;
    align-items:center;
    justify-content: space-around;
	padding-top:40px;
}
header.top_header .wrapper nav.left_nav ul{
	display:flex;
	font-size: 45px;
    color:#723182;
	font-family: 'Catamaran', sans-serif;
}
header.top_header .wrapper nav.right_nav ul{
    display: flex;
    font-size: 22px;
    color:#000;
}
header.top_header .wrapper nav.left_nav ul li,
header.top_header .wrapper nav.right_nav ul li{
    margin-left: 10px;
    margin-right: 16px;
}
header.top_header .wrapper nav.right_nav ul li a.active{
    color:#723182;
	font-size:bold;
}
header.top_header .wrapper nav.left_nav ul li a,
header.top_header .wrapper nav.right_nav ul li a{
    color:inherit;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
header.top_header .wrapper nav.left_nav ul li a:hover,
header.top_header .wrapper nav.right_nav ul li a:hover{
    color:#fea3ac;
    transition: all 300ms ease-in-out;
}
header .header_button{
	background:#723182;
	border-radius:20px;
	border:none;
	width:170px;
	height:50px;
	color:#fff;
}
/* header burger*/
.header_burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color:#3b3838;
    position: absolute;
    left:0;
}
.burger_line_first{
    top:0;
}
.burger_line_second{
    top:50%;
    transform: translateY(-50%);
}
.burger_line_third{
    bottom: 0;
}
/* Page heading*/
.page_heading{
	margin-top:90px;
}
.page_heading h1{
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color:#44224b;
}
.page_heading span.subtitle{
    font-size: 28px;
	letter-spacing: 1px;
	line-height: 40px;
	color: #2d2058;
	font-family: "Nunito Sans";
	font-weight: 400;
	margin-top:20px;
}
#search_box{
	display:flex;
	margin-top:70px;
}
#search_box  input[type="text"]{
	max-width:90%;
	width:300px;
	height:50px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: "Nunito Sans";
	padding:10px;
	background:#e6e2e7;
	border:none;
	border-radius:25px;
	outline:none;
}
#search_box  input[type="submit"]{
	width:60px;
	background:#e6e2e7 url(img/lupa.png) no-repeat center;
	border: none;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	height:50px;
	outline:none;
}
/* our resources */
.our_resources {
	margin-top:100px;
	padding:20px 0;
	text-align:center;
	height: 100vh;
    width: 100%;
	background-image: url(img/book22.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.our_resources  h3{
	font-weight:bold;
	font-size:52px;
	color:#091e40;
	margin:40px auto;
}
.our_resources span{
	color:#f9e93c;
}
.item_data{
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.item_data h5{
	font-weight:bold;
	font-size:32px;
	color:#091e40;
}
.item_data p{
	padding:0 10px;
}
/* our_libraries wrapper */
.our_libraries{
	margin-top:100px;
	display:flex;
}
.our_libraries_info button{
	background:#723182;
	border-radius:20px;
	border:none;
	width:170px;
	height:50px;
	color:#fff;
	margin-top:40px;
}
.our_libraries_info{
	flex:1;
	width:50%;
}
.our_libraries_info  h4{
	font-weight:bold;
	font-size:42px;
	color:#091e40;
	margin:40px 0;
}
.our_libraries_info span{
	color:#f9e93c;
}
.our_libraries_img{
	max-width:100%;
	display:block;
}
/* best_book */
.best_book {
	margin-top:100px;
}
.best_book  h3{
	font-weight:bold;
	font-size:52px;
	color:#091e40;
	margin-bottom:80px;
	text-align:center;
}
.best_book span{
	color:#f9e93c;
}
.item_book{
	display:flex;
	flex-direction: column;
	margin:0 200px;
}
.item_book_number{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.item_book_number h5{
	font-weight:bold;
	font-size:36px;
	color:#000;
}
.item_book_author p{
	font-size:26px;
	color:#acaeb2;
}
.item_book_star ul{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
/* active_book */
.active_book{
	margin-top:80px;
	margin-bottom:40px;
	display:flex;
}
.active_book_info{
	margin-left:40px;
}
.active_book_info h6{
	font-weight:bold;
	font-size:42px;
	color:#091e40;
	margin:40px 0;
}
.active_book_img{
	width:50%;
}
.best_book button{
	background:#723182;
	border-radius:20px;
	border:none;
	width:170px;
	height:50px;
	color:#fff;
	margin-top:40px;
	margin-left:40%;
}
/* mobile_library wrapper */
.mobile_library{
	margin-top:100px;
	display:flex;
}
.mobile_library_info{
	flex:1;
	width:50%;
}
.mobile_library_info  h4{
	font-weight:bold;
	font-size:42px;
	color:#091e40;
	margin:40px 0;
}
.mobile_library_info span{
	color:#f9e93c;
}
.mobile_library_img{
	max-width:100%;
	display:block;
}
.amazon{
	display:flex;
	justify-content:space-between;
}
/* footer */
.footer{
	display:flex;
	margin-top:100px;
}
.footer_menu{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:90%;
}
.footer_item{
	display:flex;
	flex-direction:column;
}
.footer_item ul li a{
	margin-left:10px;
	text-decoration: none;
	color:#091e40;
	font-size:17px;
}
.footer_item .first{
	font-size:22px;
	color:#723182;
}
.footer_item1 ul{
	display:flex;
	flex-direction:row;
	width:40%;
}
.footer_item1{
	margin-bottom:200px;
}
.footer_item1 ul li a{
	margin-left:10px;
	text-decoration: none;
	color:#723182;
	font-size:45px;
	font-family: 'Catamaran', sans-serif;
}
hr{
	height:1px;
	color:#e2dfdf;
	width:80%;
}
/* footer */
footer{
	margin-top:30px;
	display:flex;
	justify-content:space-around;
}
.footer_copy p{
	color:#091e40;
	font-size:17px;
}
.social_link ul{
	display:flex;
	align-items:center;
	width:50%;
}
.social_link ul li{
	justify-content:space-between;
}

/**************** АДАПТИВ *********************/

/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.header-bg{
	background: transparent url(img/header-bg2.png) right no-repeat;
	}
	.page_heading h1{
    font-size: 50px;
    line-height: 50px;
	}
	.page_heading span.subtitle{
	line-height: 28px;
	}
	#search_box  input[type="text"]{
	width:200px;
	}
	.item_data{
	display:flex;
	flex-direction:column;
	}
	.our_libraries{
	display:flex;
	flex-direction:column;
	}
	.our_libraries_img img{
	width:100%;
	}
	.our_libraries_info{
	width:100%;
	}
	.our_libraries_img{
	max-width:100%;
	display:block;
	}
	.best_book  h3{
	font-size:44px;
	}
	.item_book{
	display:flex;
	flex-direction: column;
	margin:0 10px;
	}
	.item_book_number{
	display:flex;
	flex-direction:column;
	}
	.item_book_number h5{
	font-size:25px;
	}
	/* active_book */
	.active_book{
	margin:20px;
	flex-direction:column;
	}
	.active_book_info{
	margin-left:0px;
	}
	.active_book_info h6{
	font-size:30px;
	margin:30px 0;
	}
	.active_book_img{
	width:50%;
	}
	.mobile_library{
	margin-top:100px;
	flex-direction:column;
	}
	.mobile_library_info{
	width:100%;
	}
	.mobile_library_img img{
	width:90%;
	}
	.amazon{
	display:flex;
	flex-direction:column;
	}
	.best_book button{
	margin-left:40px;
	}
	.footer_menu{
	display:flex;	
	flex-direction:column;
	}
	.footer_item1{
	margin-bottom:10px;
	}
	footer{
	margin-top:30px;
	flex-direction:column;
	text-align:center;
	}
	footer_copy p{
	color:#091e40;
	font-size:17px;
	}
	.social_link ul{
	margin-left:70px;
	}
}
/****************   Смартфон 5.5*****************************/
@media(min-width:321px) and (max-width:480px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.header-bg{
	background: transparent url(img/header-bg2.png) right no-repeat;
	}
	.page_heading h1{
    font-size: 50px;
    line-height: 50px;
	}
	.page_heading span.subtitle{
	line-height: 28px;
	}
	#search_box  input[type="text"]{
	width:200px;
	}
	.item_data{
	display:flex;
	flex-direction:column;
	}
	.our_libraries{
	display:flex;
	flex-direction:column;
	}
	.our_libraries_img img{
	width:100%;
	}
	.our_libraries_info{
	width:100%;
	}
	.our_libraries_img{
	max-width:100%;
	display:block;
	}
	.best_book  h3{
	font-size:44px;
	}
	.item_book{
	display:flex;
	flex-direction: column;
	margin:0 10px;
	}
	.item_book_number{
	display:flex;
	flex-direction:column;
	}
	.item_book_number h5{
	font-size:25px;
	}
	/* active_book */
	.active_book{
	margin:20px;
	flex-direction:column;
	}
	.active_book_info{
	margin-left:0px;
	}
	.active_book_info h6{
	font-size:30px;
	margin:30px 0;
	}
	.active_book_img{
	width:50%;
	}
	.mobile_library{
	margin-top:100px;
	flex-direction:column;
	}
	.mobile_library_info{
	width:100%;
	}
	.mobile_library_img img{
	width:90%;
	}
	.amazon{
	display:flex;
	flex-direction:column;
	}
	.best_book button{
	margin-left:40px;
	}
}
@media(min-width:321px) and (max-width:380px){
	.footer_menu{
	display:flex;	
	flex-direction:column;
	}
	.footer_item1{
	margin-bottom:10px;
	}
}

/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:768px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.header-bg{
	background: transparent url(img/header-bg.png) right no-repeat;
	}
	.page_heading h1{
    font-size: 50px;
    line-height: 50px;
	}
	.page_heading span.subtitle{
	line-height: 28px;
	}
	#search_box  input[type="text"]{
	width:200px;
	}
	.item_data{
	display:flex;
	flex-direction:column;
	}
	.our_libraries{
	display:flex;
	flex-direction:column;
	}
	.our_libraries_img img{
	width:100%;
	}
	.our_libraries_info{
	width:100%;
	}
	.our_libraries_img{
	max-width:100%;
	display:block;
	}
	.best_book  h3{
	font-size:44px;
	}
	.item_book{
	display:flex;
	flex-direction: column;
	margin:0 10px;
	}
	.item_book_number{
	display:flex;
	flex-direction:column;
	}
	.item_book_number h5{
	font-size:25px;
	}
	/* active_book */
	.active_book{
	margin:20px;
	flex-direction:column;
	}
	.active_book_info{
	margin-left:0px;
	}
	.active_book_info h6{
	font-size:30px;
	margin:30px 0;
	}
	.active_book_img{
	width:50%;
	}
	.mobile_library{
	margin-top:100px;
	flex-direction:column;
	}
	.mobile_library_info{
	width:100%;
	}
	.mobile_library_img img{
	width:90%;
	}
	.amazon{
	display:flex;
	flex-direction:column;
	}
	.best_book button{
	margin-left:40px;
	}
}
@media(min-width:770px) and (max-width:890px){
	.our_libraries{
	display:flex;
	flex-direction:column;
	}
	.our_libraries_img img{
	width:100%;
	}
	.our_libraries_info{
	width:100%;
	}
	.our_libraries_img{
	max-width:100%;
	display:block;
	}
	.best_book  h3{
	font-size:44px;
	}
	.item_book{
	display:flex;
	flex-direction: column;
	margin:0 10px;
	}
	.item_book_number{
	display:flex;
	flex-direction:column;
	}
	.item_book_number h5{
	font-size:25px;
	}
	/* active_book */
	.active_book{
	margin:20px;
	flex-direction:column;
	}
	.active_book_info{
	margin-left:0px;
	}
	.active_book_info h6{
	font-size:30px;
	margin:30px 0;
	}
	.active_book_img{
	width:50%;
	}
	.mobile_library{
	margin-top:100px;
	flex-direction:column;
	}
	.mobile_library_info{
	width:100%;
	}
	.mobile_library_img img{
	width:90%;
	}
	.amazon{
	display:flex;
	flex-direction:column;
	}
	.best_book button{
	margin-left:40px;
	}
	
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	.mobile_library_img img{
	width:90%;
	}
}